@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Quicksand";
    src: url("../public/fonts/Quicksand-Bold.ttf");
    font-family: 'Inter';
    src: url("../public/fonts/Inter-Regular.ttf");
  }